{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/admin.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Penel</h1>
            <span class="subheading">Managed your blog here</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      	<h5>Action</h5>
      	<br>
      	<a href="/edit/0"><button class="btn btn-success">Add a new post</button></a>
      	<a href="/logout"><button class="btn btn-danger float-right btn-outline-warning">Logout</button></a>
      	<br>
      	<hr>
      		<h5>Upload a file</h5>
      	
      		<form action="/uploader" method="post" enctype="multipart/form-data">
      			<input type="file" name="file1">

      			<button type="submit" class="btn btn-primary">submit</button>
      			
      		</form>
      		{{ error }}
      	<hr>
 <h3>Post Manage</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

{% for post in post %}

    <tr>
      <th scope="row">{{ post.no }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.date }}</td>
      <td><a href="/edit/{{ post.no }}"><button class="btn btn-light btn-outline-success">Edit</button></a></td>
      <td><a href="/delete/{{ post.no }}"><button class="btn btn-light btn-outline-success">Delete</button></a></td>
    </tr>
    

{% endfor %}


  </tbody>
</table>

    
        <!-- Pager -->
        
      </div>
    </div>
  </div>

{% endblock %}