{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/admin.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Penel</h1>
            <span class="subheading">Managed your blog here</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      	<h6>Upload file</h6>
      	

 <h3>Post Manage</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

{% for post in post %}

    <tr>
      <th scope="row">{{ post.no }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.date }}</td>
      <td><a href="#"><button class="btn btn-primary">Edit</button></a></td>
      <td><button class="btn btn-primary">Delete</button></td>
    </tr>
    

{% endfor %}


  </tbody>
</table>

    
        <!-- Pager -->
        
      </div>
    </div>
  </div>

{% endblock %}