{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Programming</h1>
            <span class="subheading">Developer Blog via Flask app</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


        <!-- Fetch it using for loop from database-->

        {% for post in posts %}

          <a href="/post/{{ post.slug }}"> 
          <div class="post-preview">
           <a href="/post/{{post.slug}}">
             <h2 class="post-title">
              {{ post.title }}
              
            </h2>
             <h3 class="post-subtitle">
                {{ post.tag_line}}
             </h3>
          </a>
           <p class="post-meta">Posted by
              <a href="/post/{{ post.slug }}">Admin</a>
            on {{ post.date}}</p>
            <p>{{ post.content[0:150]}}...</p>
         </div>
         <hr>
      </a>
        {% endfor %}

    
        <!-- Pager -->
        
      </div>
    </div>
  </div>

{% endblock %}